* {
    box-sizing: border-box;
}
.player {
    display:flex;
    align-items: center;
}
.filter {
    background-color: black;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: opacity 6s;
}
body {
    color:goldenrod;
    font-family: 'Lato', sans-serif;
    background-image: url("newkoyabg.jpg");
    background-size: cover;
    /* font-size: 24px; */
    font-weight: 600;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    /* font-size: 64px; */
    color: goldenrod;
}
.koya {
    font-size: 64px;
}
audio {
    margin-left: 16px;
    color:black;
}


.navbar{
    font-size:18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    overflow: hidden;
}

li {
    float: left;
}

li a:hover {
    background-color: #111;
}
a {
    color: goldenrod;
    text-decoration: none;
}
a:hover {
    background-color: #111;
}

li a {
    color: goldenrod;
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

@media screen and (max-width: 640px){
.content-area{
    position: relative;
    height: 1300px;
    max-width: 500px;
    margin-left: 70px;
}
#bio{
    position: absolute;
    top: 500px;
    margin-top: 20px;
    width: 400px;
    }
.newscard{
    position: absolute;
    width: 350px;
    height: 150px;
    margin-left: 10px;
    top: 0px;
    }
header{
    text-align: center;
    margin-left: 10px;
}
.video {
    position: absolute;
    top: 180px;
    opacity: 1.0;
}
.bottomphoto{
    position: absolute;
    bottom: 0px;
}
}