* {
    box-sizing: border-box;
}

body {
    color:#333;
    font-family: 'Lato', sans-serif;
    background-color: lightgray;
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
}

header {
    font-size: 64px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: black;
    text-align: center;
}

#bio {
    font-size: 20px;
    width: 20%;
    border: solid 1px red;
    float:left;
}

.video {
    float:left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a:hover {
    background-color: #111;
}

li a {
    color:white;
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    background-color: black;
}

.content-area {
    width: 100%;
    max-width: 960px;
    margin: 5px;
    border: solid 1px red;
}